<%- include("./partials/header.ejs") %>
<body>
    <%- include ('./partials/navbar.ejs') %>
    <br>
    <div class="container">
        <hr>
        <h1>Lista de Pedidos</h1>
        <hr>
        <a href="/cadastrar-pedido"><button class="btn btn-success">Cadastrar Pedido</button></a>
        <br>
        <br>
        <% pedidos.forEach(pedido => { %>
        <div class="card">
            <div class="card-body">
                <h3>Cliente: <%= pedido.name %></h3>
            </div>
            <div class="card-footer">
                <a href="/detalhes/<%= pedido.id %>"><button class="btn btn-primary">Visualizar Pedido</button></a>
            </div>
        </div>
        <br>
        <% }) %>
    </div>
</body>
<%- include("./partials/footer.ejs") %>