<%- include("./partials/header.ejs") %>
<body>
    <%- include ('./partials/navbar.ejs') %>
    <br>
    <div class="container">
        <hr>
        <nav class="navbar navbar-expand">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <h1 class="nav-link">Lista de Clientes</h1>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="btn btn-warning nav-link" href=""> Gerenciar Usuários</a>
                </li>
            </ul>
        </nav>
        <hr>
        <a href="/cadastrar-cliente"><button class="btn btn-success">Cadastrar Cliente</button></a>
        <br>
        <br>
        <% clientes.forEach(cliente => { %>
        <div class="card">
            <div class="card-body">
                <h3><%= cliente.name %></h3>
            </div>
            <div class="card-footer">
                <a href="/cadastrar-produto/<%= cliente.slug %>"><button class="btn btn-primary">Cadastrar Produto</button></a>
                <a href="/detalhes/<%= cliente.slug %>"><button class="btn btn-primary">Visualizar Pedido</button></a>
            </div>
        </div>
        <br>
        <% }) %>
    </div>
</body>
<%- include("./partials/footer.ejs") %>