<%- include("./partials/header.ejs") %>
<body>
    <%- include ('./partials/navbar.ejs') %>
    <br>
    <div class="container">
        <hr>
        <h1>Lista de Clientes</h1>
        <hr>
        <a href="/cadastrar-cliente"><button class="btn btn-success">Cadastrar Cliente</button></a>
        <br>
        <br>
        <% clientes.forEach(cliente => { %>
        <div class="card">
            <div class="card-body">
                <h3><%= cliente.name %></h3>
            </div>
            <div class="card-footer">
                <a href="/cadastrar-produto/<%= cliente.slug %>"><button class="btn btn-primary">Cadastrar Produto</button></a>
                <a href="/detalhes/<%= cliente.slug %>"><button class="btn btn-primary">Visualizar Pedido</button></a>
            </div>
        </div>
        <br>
        <% }) %>
    </div>
</body>
<%- include("./partials/footer.ejs") %>